body{
  background: #282B34;
  width: 840px;
  margin: auto;
}
.App {
  text-align: left;
  border: 2px solid #30A187;
  padding-left: 0px;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.image{
  display: inline-block;
  width: 20%;
  margin-right: 25px;
}
.image img{
  width: 100%;
  padding: 4px 2px 0;
}
.description{
  display: inline-block;
  width: 77%;
  vertical-align: top;
  padding: 29px 0 20px 0;
}
.description h3{
  color: #fff;
  margin-top: 0;
}
.description a{
  color: #30A187;
  width: 100%;
  display: block;
}
.description button{
  color: #30A187;

}
.detailpodcast .image{
  width: 40%;
}
.detailpodcast .description{
  width: 57%;
}
.detailpodcast .description a{
  text-decoration: none;
}
.audioContainer h5{
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
}
.audioContainer .rhap_progress-section{
  width: 100%;
  justify-content: space-between;
}
.audioContainer .rhap_time{
  color: #fff;
}
.audioContainer .rhap_container{
  background-color: unset;
  box-shadow: unset;
}
a.back{
  border: 2px solid #30A187;
  color: #30A187;
  background: transparent;
  margin: 20px 0 20px;
  padding: 10px 20px 10px;
  width: 12%;
  text-align: center;
  text-decoration: unset;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
